
*{
	list-style: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
	background: #f5f6fa;
}
main .section{
	width: calc(100% - 300px);
	margin-left: 300px;
	transition: all 0.5s ease;
    height: 100vh;
    padding: 55px ;
}
main .top_navbar{
    position: absolute;
    top:5px ;
    margin-left: 5px;
}
main .top_navbar1{
    position: absolute;
    top:5px ;
    right:5px;
}
main .top_navbar1 i{
    font-size: 22px;
    color:#e7e7e7;
}
main  .top_navbar  a{
	font-size: 28px;
	color: #f4fbff;
}

main  .top_navbar  a:hover{
	color: #a2ecff;
}

/* start show sidebar */

main  .top_navbar  button{
    width: 50px;
    height: 50px;
    display: grid;
    place-items: center;
    background-color: #f5f6f8;
    /* border: 1px solid #354052; */
    border: none;
    cursor: pointer;
    transition: .2s ease-in-out;
}
main  .top_navbar1  button{
    width: 50px;
    height: 50px;
    display: grid;
    place-items: center;
    background-color: #354052;
    border: none;
    cursor: pointer;
    transition: .2s ease-in-out;
}
main  .top_navbar1  button:hover i{
    color: #fff;
}
main  .top_navbar  button svg{
    stroke: #354052;
    transition: .2s ease-in-out;
}
main  .top_navbar  button:hover{
    background-color: #354052;
}
main  .top_navbar  button:hover svg{
    stroke: #fff;
}

/* end show sidebar */

/* start platform */

 main .section .platform{
    position: relative;
	background-color: #354052;
    height: 100%;
    display: grid;
    place-items: center;

}
main .section .platform #player{
	
    height: 100%;
    width: 100%;
  

}


main  .platform span{
    color: #fff;
    font-size: 28px;
    cursor: pointer;
}

/* end platform */

body.active main .sidebar{
	left: -300px;
}

body.active main .section{
	margin-left: 0;
	width: 100%;
}


/* start sidebar */

main .sidebar{
	background: #354052;
	position: fixed;
	top: 0;
	left: 0;
	width: 300px;
	height: 100%;
	transition: all 0.5s ease;
    padding:40px 0 10px 0;
}

/* start search */

main .menu  .search{
    position: relative;
    padding: 0 20px;
    margin: 20px 0;
}
main .menu  .search input{
    width: 100%;
    height: 35px;
    color:#fff;
    border: none;
    border-bottom: 1px solid #5c646f;
    background-color: transparent;
    padding: 20px 0 25px 0;
    outline: none;
    font-size: 18px;
}
main .menu  .search input:focus{
    border-color: #fff;
    color: #fff;
}
main .menu .search button{
    background-color: #354052;
    border: none;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 15px;
    top: 5px;
}
main .menu .search svg{
   stroke:#888 ;
   transition: .2s ease-in-out;
}
main .menu .search svg:hover{
    cursor: pointer;
    stroke:#fff ;
}

/* end search */

/* start tags */

main .menu .tags{
    width: 90%;
    margin: auto;
    height: 35px;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 10px;
    transition: .2s ease-in-out;
    overflow: hidden;
}
main .menu .tags .title{
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
main .menu .tags .number,
main .menu .tags .close-tags,
main .tags .hash-tag .plus-tag{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #e7e7e7;
    display: inline-block;
    text-align: center;
    line-height: 25px;
    color: #222;
    font-size: 12px;
    cursor: pointer;
}
main .menu .tags .number,
main .menu .tags .close-tags{
    margin-left: 10px;
    transition: .2s ease-in-out;
}
main .menu .tags .number:hover,
main .menu .tags .close-tags:hover{
    color: #fff;
    background-color: #d3cece;
}
.angle-up{
    display: none !important;
}
.angle-down{
    display: none !important;
}
.mystyle{
    height: 205px !important;
}
main .tags .hash-tag{
    padding: 0 10px;
}
main .tags .hash-tag p{
    font-size: 14px;
}
main .tags .hash-tag .content-tag{
    width: 100%;
    height: 105px;
    padding: 15px 0;
    margin-bottom: 10px;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    /*  scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: thin;  /* IE and Edge */
    scrollbar-width:thin;  /* Firefox */
    scroll-behavior: smooth; 
}
/*  scrollbar for Chrome, Safari and Opera */
main .tags .hash-tag .content-tag::-webkit-scrollbar {
    width: thin;
}
main .tags .hash-tag .content-tag {
    display: flex;
    flex-wrap: wrap;
}
main .tags .hash-tag .content-tag label{

    margin-right: 10px;
    padding: 5px 10px;
   border:  2px solid rgb(238 238 238);
    border-radius: 20px;
    position: relative;
    color: rgb(73, 71, 71);
    cursor: pointer;
    transition: 0.3s ease-in-out;
    
}
main .tags .hash-tag .content-tag label:hover{

    transform: scale(1.4);
    
}
main .tags .hash-tag .content-tag input{

    display: none;
}
main .tags .hash-tag .content-tag input:checked + label{
    border: 2px solid rgb(98, 111, 153);
    color: rgb(98, 111, 153);
    background-color: rgb(255, 255, 255);
}


main .tags .hash-tag .plus-tag{
    font-size: 16px;
}
main .tags .hash-tag .plus-tag:hover{
    color: #fff;
    background-color: #d3cece;
}







/* end tags */

/* start menu list */

main .sidebar .menu .menu-list{
    width: 100%;
    height: auto;
    margin-top: 10px;
    padding: 0 15px;
}
main .sidebar .menu .menu-list>li{
    width: 100%;
    height: 55px;
    cursor: pointer;
    transition: .2s ease-in-out;
    position: relative;
}
main .sidebar .menu .menu-list>li>a{
    width: 100%;
    height: 50px;
    color:#a2a7af;
    background-color: #354052;
    border-bottom: 1px solid #5c646f;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: .2s ease-in-out;
    z-index: 2;
    position: relative;
}
main .sidebar .menu .menu-list>li>a:hover{
    color: #fff;
    border-bottom: 1px solid #fff;
}
main .sidebar .menu .menu-list .image{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border:none;
    overflow: hidden;
}
main .sidebar .menu .menu-list .image img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
main .sidebar .menu .menu-list>li>.dropright{
    position: absolute;
    width:max-content;
    max-width: 370px;
    background-color: rgba(104, 104, 104, 0.6);
    box-shadow: 0 5px 12px rgba(78, 88, 92, 0.3);
    border-radius: 10px;
    top: -7px;
    left: 260px;
    display: flex;
    justify-content: start;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
    padding: 7px;
    opacity: 0;
    visibility: hidden;
    transition: .3s ease-in-out;
}
 main .sidebar .menu .menu-list>li:hover .dropright{
    transform: translateX(30px);
    opacity: 1;
    visibility: visible;
}


/* end menu list */

/* end sidebar */